@import url("https://use.typekit.net/nqy6qql.css");

.header {
  font-weight: 700;
  font-size: 4em;
}

.introduction {
  max-width: 40em;
  margin: 0 auto;
}

.body {
  background-color:palegreen;
  font-family: "sofia-pro", sans-serif;
}

.my-card {
  background-color: white;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
}

.my-card-header {
  display: flex;
  margin: 1em;
}

.head-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1em 1em;
}

.my-card-heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
  justify-content: space-around;
  margin: 0 1em;
}

.track {
  display: flex;
  flex-direction: row;
  height: 5em;
  padding: 1em;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  justify-content: flex-start;
  align-items: center;
}

.track:hover {
  cursor: pointer;
  background-color:rgb(218, 250, 218);
}

.spotify {
  color: #1db954;
}

.playlist {
  color: #1db954;
}

.album-cover {
  margin-right: 1em; 
  height: 50px;
  width: 50px;
  background-color: rgb(233, 232, 232);
  border-radius: 5px;
}

.song {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  color: black;
  align-self: center;
  justify-content: center;
}

.title {
  margin-top: 1em;
  font-size: 0.88em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  font-size: 0.6em;
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 20em;
  --height-of-input: 3em;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #1db954;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

.input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
.input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

button.clear {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1em;
 border: 0px solid transparent;
 background-color: rgba(100,77,237,0.08);
 border-radius: 1.25em;
 transition: all 0.2s linear;
}

button.clear:hover {
  background-color: palegreen;
 box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
  8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
  17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
  36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
  99px 72px 143px rgba(0, 0, 0, 0.08);
}

.clear {
 position: relative;
 display: inline-block;
}

.clear .cleartext {
 visibility: hidden;
 width: 4em;
 background-color: palegreen;
 color: black;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 position: absolute;
 z-index: 1;
 top: 25%;
 left: 110%;
}

.clear .cleartext::after {
 content: "";
 position: absolute;
 top: 50%;
 right: 100%;
 margin-top: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: transparent palegreen transparent transparent;
}

.clear:hover .cleartext {
 visibility: visible;
}

.my-button {
  background: black !important;
  border-color: rgba(100,77,237,0.08) !important;
  color: white !important;
}

.my-button:hover {
  background-color: #1db954 !important;
}

@media (max-width: 768px) {
  .song {
    width: 6.5em;
    white-space: nowrap;
  }

  .header {
    font-size: 3em;
  }

  .introduction {
    font-size: 0.8em;
  }

}
